</div>
</div>


 <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="two wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
        <a href="/contact/" class="item">Contact Me</a>
        <a href="/contact/myportfolio" target="_blank" class="item">My Portfolio</a>
        <a href="/blogs/gettingstarted" class="item">Getting Started</a>
        <a href="/blogs/" class="item">Lesson Blogs</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="http://lgnetworkdesign.com" class="item">Need A Website?</a>
            <a href="#" class="item">Unreal Engine Tutorials</a>
          </div>
        </div>
        <div class="eight wide column">
          <h4 class="ui inverted header">Thanks for swinging by</h4>
          <p>Feel Free To Send me a message or fill in the suggestion box if there's a topic you want me to cover.</p>
          <a class="ui small positive button" href="/contact/suggestionBox" style="text-decoration:none; color:white;">
           Suggestion Box <i class="right question circle icon"></i></a>

        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">More Info</h4>
          <div class="ui inverted link list">
            <a href="/contact/aboutme" target="_blank" class="item">About Me</a>
            <a href="http://lgnetworkdesign.com" class="item">LG Network Design</a>
            <a href="#" class="item">DNA FAQ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>
