<!DOCTYPE html>
<html lang="en">

  <head>
  <style>

    
</style>
</head>

<body>
  <layout>
<!--Main Table Start-->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" mc:repeatable="Mailify" mc:variant="header1-3">
<tbody><tr>
   <td align="center" valign="middle">
      <layout>
         <!--Banner Part Start-->
         <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
               <td align="center" valign="middle">
                  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                     <tbody><tr>
                        <td height="570" align="center" valign="top" bgcolor="#2a2a2a" style="background: url(https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) #2a2a2a top center no-repeat; background-size: cover;">
                           <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="two-left-inner">
                              <tbody><tr>
                                 <td height="70" align="center" valign="top" style="font-size:70px; line-height:70px;">&nbsp;</td>
                              </tr>
                              <tr>
                                 <td align="left" valign="top">
                                    <table width="120" border="0" align="left" cellpadding="0" cellspacing="0" class="full">
                                       <tbody><tr>
                                          <td align="center" valign="top" class="editContent" mc:edit="mailify-19"><a href="#" style="font-weight: bold; text-decoration: none; color:#fff; font-family:'Lato', sans-serif, Verdana; text-transform: uppercase;font-size: 16px;">RefugioSeguro</a></td>
                                       </tr>
                                    </tbody></table>
                                    <table border="0" align="right" cellpadding="0" cellspacing="0" class="full">
                                       <tbody><tr>
                                          <td align="center" valign="top">
                                             <table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
                                                <tbody><tr>
                                                   <td colspan="2" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
                                                </tr>
                                             </tbody></table>
                                          </td>
                                       </tr>
                                    </tbody></table>
                                 </td>
                              </tr>
                              <tr>
                                 <td height="130" align="center" valign="top" style="font-size:130px; line-height:130px;">&nbsp;</td>
                              </tr>
                              <tr>
                                 <td align="center" valign="top">
                                    <table border="0" align="center" cellpadding="0" cellspacing="0">
                                       <tbody><tr>
                                          <td height="20" style="font-size: 1px; line-height: 20px;">&nbsp;</td>
                                       </tr>
                                       <tr>
                                          <td align="center" class="editContent" mc:edit="mailify-21" style="font-family: 'Lato', sans-serif; font-size: 35px; font-weight: 900; color: #ffffff; line-height: 60px; letter-spacing: 4px; text-transform: uppercase;">
                                              Thank You
                                          </td>
                                       </tr>
                                        <tr>
                                          <td height="10" style="font-size: 1px; line-height: 10px;">&nbsp;</td>
                                       </tr>
                                       <tr>
                                          <td align="center" class="editContent" mc:edit="mailify-22" style="font-family: 'Lato', sans-serif; font-size: 15px; font-weight: 400; color: #ffffff; line-height: 24px; letter-spacing: 2px;">
                                             Sign up Successful
                                          </td>
                                       </tr>
                                       <tr>
                                          <td height="20" style="font-size: 1px; line-height: 20px;">&nbsp;</td>
                                       </tr>
                                       <tr>
                                        <td height="35" align="center" valign="middle" style="background:transparent; -moz-border-radius: 4px; border-radius: 4px; font-family:'Scope One', Verdana, Arial; font-size:11px; font-weight:bold; text-transform:uppercase; color:#FFF;border: 1px solid #fff; " class="editContent" mc:edit="mailify-23"><multiline><a href="http://www.learntocodewithleo.com/" style="text-decoration:none; color:#FFF;">Visit Website</a></multiline></td>
                                      </tr>

                                    </tbody></table>
                                 </td>
                              </tr>
                              <tr>
                                 <td align="center" valign="top">&nbsp;</td>
                              </tr>
                           </tbody></table>
                        </td>
                     </tr>
                  </tbody></table>
               </td>
            </tr>
         </tbody></table>
         <!-- Heading ends Here -->
      </layout>
       


  
  <!-- Vendor Scripts -->



</td></tr></tbody></table></layout>
  
    
    
    


<!-- Services -->
<layout>
   <!--Services Part Start-->
   <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:750px;" mc:repeatable="Mailify" mc:variant="content2-8">
      </table><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="two-left">
         <tbody><tr>
            <td align="center" valign="top" bgcolor="#FFFFFF" style="background:#FFF; padding-right: 5px; padding-left: 5px;">
               <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="max-width: 600px">
                  <tbody><tr>
                     <td height="35" align="left" valign="top" style="font-size:35px; line-height:35px;">&nbsp;</td>
                  </tr>
                  <tr>
                     <td align="left" valign="top" style="font-family:'Scope One', sans-serif, Verdana; font-size:14px;font-weight:bold; color:#46394e;" class="editContent" mc:edit="mailify-176">
                        <multiline>Hi {{firstname}},</multiline>
                     </td>
                  </tr>
                  <tr>
                     <td align="left" valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                     <td align="left" valign="top" style="font-family:'Scope One', sans-serif, Verdana; font-size:30px;font-weight:bold; line-height:32px; color:#333;" class="editContent" mc:edit="mailify-177">
                        <multiline>Welcome to our community</multiline>
                     </td>
                  </tr>
                  <tr>
                     <td height="30" align="left" valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                     <td align="left" valign="top">
                        <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="two-left-inner">
                           <tbody><tr>
                              <td align="left" valign="top">
                                 <table width="600" border="0" cellspacing="0" cellpadding="0" class="two-left-inner">
                                    <tbody><tr>
                                       <td align="left" valign="top" style="font-family:'Scope One', Verdana, Arial; font-size:30px; color:#121212; font-weight:normal;" class="editContent" mc:edit="mailify-178">
                                          <multiline></multiline>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="20" align="center" valign="middle" style="line-height:20px; font-size:20px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                       <td align="left" valign="top" style="font-family:'Scope One', Verdana, Arial; font-size:14px; color:#767676; font-weight:normal; line-height:28px;" class="editContent" mc:edit="mailify-179">
                                          <multiline>We&apos;re really excited you&apos;ve decided to sign up. In case you have any questions, feel free to reach out to me at my Contact Me Page. You can login to your account with your username {{firstname}}.
                      <br>Don't worry if you forgot your password, you can always reset it. </multiline>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="30" align="center" valign="middle" style="line-height:30px; font-size:30px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                       <td align="left" valign="top">
                                          <table width="165" border="0" align="left" cellpadding="0" cellspacing="0">
                                             <tbody><tr>
                                                <td height="30" align="center" valign="middle" style="line-height:30px; font-size:30px;">&nbsp;</td>
                                             </tr>
                                             <tr>
                                                <td align="left" valign="top" style="font-family:'Scope One', Verdana, Arial; font-size:16px; color:#333; font-weight:normal; line-height:24px;" class="editContent" mc:edit="mailify-182">Best Regards,</td>
                                             </tr>
                                             <tr>
                                                <td align="left" valign="top" style="font-family:'Scope One', Verdana, Arial; font-size:12px; color:#767676; font-weight:normal; line-height:24px;" class="editContent" mc:edit="mailify-183">Refugio Seguro</td>
                                             </tr>
                                          </tbody></table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="50" align="center" valign="middle" style="line-height:50px; font-size:50px;">&nbsp;</td>
                                    </tr>
                                 </tbody></table>
                              </td>
                           </tr>
                        </tbody></table>
                     </td>
                  </tr>
               </tbody></table>
            </td>
         </tr>
      </tbody></table>
   
   <!--Services Part End-->
</layout>

<layout label="25-Footer Text Part">
   <!--Footer Text Part Start-->
   <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#2a2a2a" mc:repeatable="Mailify" mc:variant="footer1-5">
      <tbody><tr>
         <td align="center" valign="middle">
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
               <tbody><tr>
                  <td align="center" valign="top" bgcolor="#2a2a2a">
                     <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="two-left-inner">
                        
                        <tbody><tr>
                           <td align="center" valign="top">
                              <table width="200" border="0" align="left" cellpadding="0" cellspacing="0" class="two-left-inner">
                                 
                                 <tbody><tr>
                                    <td height="20" align="center" valign="top" style=" font-size:20px; line-height:20px;">&nbsp;</td>
                                 </tr>
                                 <tr>
                                    <td align="left" valign="top" style="font-family:'Scope One', Verdana, Arial; font-size:12px; color:#0797ea; font-weight:bold; padding-top:4px;text-transform: uppercase;" class="editContent" mc:edit="mailify-231">
                                       <multiline>Refugio Seguro</multiline>
                                    </td>
                                 </tr>
                                 <tr>
                                 <td align="left" valign="top" style="font-family:'Lato', Verdana, Arial; font-size:12px; color:#666; font-weight:bold; text-transform:none; line-height:30px; text-transform:uppercase;" mc:edit="mailify-232" class="editContent">
                                    <multiline>Copyrights © 2018 LGND </multiline>
                                 </td>
                                </tr>

                                <tr>
                                  <td align="left" valign="top"><table width="130" border="0" align="left" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                          <td align="left" valign="middle" class="editContent"><a href="#"><img mc:edit="mailify-233" editable="true" src="img/facebook.png" width="20" height="20" alt=""></a></td>
                                          <td align="left" valign="middle" class="editContent"><a href="#"><img mc:edit="mailify-234" editable="true" src="img/youtube.png" width="20" height="20" alt=""></a></td>
                                          <td align="left" valign="middle" class="editContent"><a href="#"><img mc:edit="mailify-235" editable="true" src="img/google-plus.png" width="20" height="20" alt=""></a></td>
                                          <td align="left" valign="middle" class="editContent"><a href="#"><img mc:edit="mailify-236" editable="true" src="img/pinterest.png" width="20" height="20" alt=""></a></td>
                                          <td align="left" valign="middle" class="editContent"><a href="#"><img mc:edit="mailify-237" editable="true" src="img/dribbble.png" width="20" height="20" alt=""></a></td>
                                        </tr>
                                      </tbody></table></td>
                                </tr>
                                 <tr>
                                    <td height="25" align="left" valign="top" style=" font-size:25px; line-height:25px;">&nbsp;</td>
                                 </tr>
                              </tbody></table>
                           </td>
                        </tr>
                        <tr>
                           <td height="30" align="center" valign="top" style="font-size:30px; line-height:30px;">&nbsp;</td>
                        </tr>
                     </tbody></table>
                  </td>
               </tr>
            </tbody></table>
         </td>
      </tr>
   </tbody></table>
   <!--Footer Text Part End-->
</layout>



</body>

</html>
