
<% include ./partials/headerSematic1 %>

  
  <style>

    .column {
      max-width: 450px;
    }
    
    body{
      overflow:hidden;
    }
    
    @media only screen and (max-width: 700px) {
      body{
            overflow: scroll;
            }
      

    
    }
    
    </style>

<h3 class="ui image header">
Refugio Seguro
</h3>
<div class="ui middle aligned center aligned grid" style="margin: 5% 0;">
    <div class="column">
            <h2 class="ui image header">
      <div class="content">
        Create your account
      </div>
    </h2>
<form class="ui blue left aligned form segment" action="/register" method="POST">
  <div class="field">
    <label>Create Username</label>
    <input type="text" name="username" placeholder="username" required>
  </div>
    <div class="field">
    <label>Email</label>
    <input type="email" name="useremail" placeholder="email@.com" required>
  </div>
  <div class="field" style="margin-top:5%;">
    <label>Create Password</label>
    <input type="password" name="password" placeholder="password" required>
  </div>
  <button class="ui large primary labeled icon button" type="submit"> <i class="unlock alternate icon"></i>Sign Up</button>
</form>
    <div class="ui inverted secondary blue segment">
       Already have an account?<br>Click on <a href="/login" style="text-decoration:none; color:teal; font-size:18px;">Sign In</a> to get started!
    </div>
</div>
</div>


  <% include ./partials/footerSematic %>